<%= form_for :conversation, url: conversations_path do |f| %>
  <%= f.hidden_field :recipient, value: params[:user_id] %>

  <div class="form-group">
    <%= f.label :message, t('.message') %>
    <%= f.text_area :body, placeholder: t('.placeholder'), class: "form-control" %>
  </div>

  <%= f.submit t('.send'), class: "btn btn-success" %>
<% end %>
