<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="col-md-12 text-center conversations">
        <%= link_to conversation_path(conversation), method: :delete, class: "btn btn-danger pull-right" do %>
          <em class="fa fa-trash-o fa-lg"></em>
          <span><%= t('.delete_conversation') %></span>
        <% end %>
      </div>
      <div class="card-body">
        <%= render partial: 'messages' %>
      </div>
      <div class="card-footer">
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
          <div class="form-group mb-2">
            <%= f.text_area :body, placeholder: t('conversations.form.placeholder'), class: "form-control" %>
          </div>
          <%= f.submit t('conversations.form.send'), class: "btn btn-success pull-right  mb-2" %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
