<% provide(:title, t('title.profile')) %>

<div class="profile">
  <h2 class="text-center"><%= @user.full_name %></h2>
  <hr>

  <div class="modal-body">
    <center>
      <% user_photo(@user) %><br>
      <%= render 'avatar_control_links' %><br>
      <%= t('.rating') %>:
      <% rating_for_user(@user) %>
      <hr>
    <center>
      <p>
        <%= t('.phone') %>:
        <%= @user.phone %>
      </p>
      <p>
        <%= t('.email') %>:
        <%= @user.email %>
      </p>
      <% if @user == current_user %>
        <%= link_to t('common.edit_profile'), edit_user_registration_path, class: "btn btn-info"  %>
      <% else %>
        <%= link_to t('.message'), new_conversation_path(user_id: @user.id), class: "btn btn-success" %>
      <% end %>
    </center>
  </div>
</div>

<%= render 'reviews' %>

<%= render 'review_form' unless @user == current_user %>
