<% provide(:title, t('title.profile')) %>

<h2><%= t('.title') %></h2>
<hr>

<% user_photo(@user) %><br>
<%= render 'avatar_control_links' %><br>
<%= link_to 'message', new_conversation_path(user_id: @user.id), class: "btn btn-success" unless @user == current_user %>

<p>Name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<%= link_to t('common.edit_profile'), edit_user_registration_path, class: "btn btn-info" if @user == current_user %>

USER Rating: <% rating_for_user(@user) %>

<hr>
<% @reviews.for_driver(@user).each do |review| %>
  author:<%= review.user.full_name %><br>
  body:<%= review.body %><br>
  rating:<% show_rating(review.rating) %>
  <%= link_to 'delete', user_review_path(@user, review), method: :delete if review.user == current_user %>
  <hr>
<% end %>

<%= render 'review_form' unless @user == current_user %>
