<footer id="myFooter" class="footer">
  <div class="container mt-2">
    <div class="row">
      <div class="col-sm-3 sss">
        <div class="logo">
          <%= link_to root_url, title: t('common.home_page'), class: "navbar-logo" do %>
            <%= (image_tag "logo.png", width: "150") %>
          <% end %>
        </div>
        <h3 class="text-logo">trucking</h3>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-5">
        <div class="social-networks">
          <a href="https://www.instagram.com/russ.oliinyk/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://vk.com/russ.oliinyk" class="vk" target="_blank"><i class="fa fa-vk"></i></a>
          <a href="https://plus.google.com/u/0/+russ1turnikmen" class="google" target="_blank"><i class="fa fa-google-plus"></i></a>
          <a href="https://www.facebook.com/oliinyk.ruslan" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/russ_oliinyk" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <button type="button" class="btn btn-default">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 All right reserved </p>
  </div>
</footer>
