<tr>
  <td><%= order.starting_point %></td>
  <td><%= order.destination_point %></td>
  <td><%= order.date %></td>
  <td><%= order.price %></td>
  <td><%= order.status %></td>
  <td><%= link_to 'Show', order, class: "btn btn-light" %></td>
  <td><%= link_to 'Destroy', start_path(order.start), method: :delete,
          data: { confirm: 'Are you sure?' }, class: "btn btn-light" unless current_user.driver %></td>
</tr>
