<tr>
  <td><%= order.start %></td>
  <td><%= order.destination %></td>
  <td><%= order.date.strftime("%d/%m/%Y") %></td>
  <td class="col-md"><%= format_uah(order.price) %></td>
  <td style="color: green"><%= status_i18n(order.status) %></td>
  <td><%= link_to t('common.show'), order, class: "btn btn-light" %></td>
  <td>
    <% unless current_user.driver %>
      <%= link_to order_path(order), method: :delete,
                                     data: { confirm: t('common.confirm') },
                                     title: t('common.delete'),
                                     class: "btn btn-outline-danger" do %>
        &times
      <% end %>
    <% end %>
  </td>
</tr>
