<tr>
  <td><%= order.start %></td>
  <td><%= order.destination %></td>
  <td><%= order.date %></td>
  <td class="col-md"><%= format_uah(order.price) %></td>
  <td style="color: green"><%= status_i18n(order.status) %></td>
  <td><%= link_to t('common.show'), order, class: "btn btn-light" %></td>
  <td><%= link_to t('common.delete'), order_path(order), method: :delete,
          data: { confirm: t('common.confirm') }, class: "btn btn-light" unless current_user.driver %></td>
</tr>
