<tr>
  <td><%= order.start_point %></td>
  <td><%= order.finish_point %></td>
  <td><%= order.price %></td>
  <td><%= order.status %></td>
  <td><%= link_to 'Show', order %></td>
  <td><%= link_to 'Destroy', order_path(order), method: :delete,
          data: { confirm: 'Are you sure?' } unless current_user.driver %></td>
</tr>
