<table class="table table-hover">
  <% if current_user.driver ? @orders.new_order.present? : @user_orders.present? %>
    <% if current_user.driver %>
      <h2 class="text-center"><%= t('.available') %></h2>
    <% else %>
      <h2 class="text-center"><%= t('.your_orders') %></h2>
    <% end %>
    <tr>
      <th><%= t('.starting_point') %></th>
      <th><%= t('.destination_point') %></th>
      <th><%= t('.date') %></th>
      <th><%= t('.price') %></th>
      <th><%= t('.status') %></th>
      <th colspan="2"></th>
    </tr>
    <% if current_user.driver %>
      <% @orders.new_order.each do |order| %>
        <%= render 'orders', order: order %>
      <% end %>
    <% else %>
      <% @user_orders.each do |order| %>
        <%= render 'orders', order: order %>
      <% end %>
    <% end %>
  <% else %>
    <% if current_user.driver %>
      <h2 class="text-center"><%= t('.no_driver_orders') %></h2>
    <% else %>
      <h2 class="text-center"><%= t('.no_user_orders') %></h2>
    <% end %>
  <% end %>
</table>
<div class="text-center">
  <%= link_to t('.new_button'), new_order_path, method: :get, class: "btn btn-info" unless current_user.driver %>
</div>
<%= will_paginate current_user.driver ? @orders.new_order : @user_orders %>
