<h2 class="text-center"><%= t('common.taken_orders') %></h2>
<table class="table">
  <tr>
    <th><%= t('.starting_point') %></th>
    <th><%= t('.destination_point') %></th>
    <th><%= t('.date') %></th>
    <th><%= t('.price') %></th>
    <th><%= t('.status') %></th>
    <th colspan="2"></th>
  </tr>
  <% @taken_orders.each do |order| %>
    <tr>
      <td><%= order.starting_point %></td>
      <td><%= order.destination_point %></td>
      <td><%= order.date %></td>
      <td><%= order.price %></td>
      <td><%= order.status %></td>
      <td><%= link_to t('common.show'), order, class: "btn btn-light" %></td>
      <td><%= link_to t('common.delete'), order_path(order), method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-light" unless current_user.driver %></td>
    </tr>
  <% end %>
</table>
