<%= form_for @destination_point do |f| %>
  <% if @destination_point.errors.any? %>
      <ul>
        <% @destination_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
          <% end %>
      </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :destination_point, class: "control-label" %>
    <%= f.text_field :destination_point, id: "place_address", class: "form-control" %>
    <%= f.text_field :destination_point_was, id: "hiden_address", class: "form-control hiden" %>
  </div>
  <div class="form-group">
    <%= f.label :destination_latitude, class: "control-label" %>
    <%= f.text_field :destination_latitude, id: "place_latitude", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :destination_longitude, class: "control-label" %>
    <%= f.text_field :destination_longitude, id: "place_longitude", class: "form-control" %>
  </div>
  <div id="map"></div>
  <%= f.submit t('.submit', action: @destination_point.new_record? ? 'Далее' : 'Сохранить'), class: "btn btn-success" %>
<% end %>

<%= render 'starts/map_script' %>
