<h2><%= t('common.profile_title') %></h2>
<hr>

<% if @user.avatar.present? %>
  <%= image_tag @user.avatar.image.url(:thumb), class: "img-thumbnail" %><br>
  <%= link_to 'delete avatar', avatar_path(@user.avatar), method: :delete %> |
  <%= link_to 'change avatar', edit_avatar_path(@user.avatar) %>
<% else %>
  <%= image_tag "noavatar.png", width: '250', class: "img-thumbnail" %><br>
  <%= link_to 'add avatar', new_avatar_path %>
<% end %>

<p>Name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<%= link_to t('common.edit_profile'), edit_user_registration_path, class: "btn btn-info" if @user == current_user %>

<hr>
<% @user.comments.each do |comment| %>
  <%= comment.user.first_name %><br>
  <%= comment.rating %><br>
  <%= comment.body %>
  <hr>
<% end %>

<%= render 'comment_form' %>
