<h2><%= t('common.profile_title') %></h2>
<hr>
<% if @user.driver %>
  <h3>Driver</h3>
<% end %>
<% if @user.avatar.present? %>
  <p>
    <%= image_tag @user.avatar.url(:thumb) %>
    <%= link_to 'delete avatar', delete_avatar_path %>
  </p>
<% else %>
  <p><%= image_tag "user.png", width: '250' %></p>
<% end %>

<p>Name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Phone: <%= @user.phone %></p>
<p>Email: <%= @user.email %></p>
<%= link_to t('common.edit_profile'), edit_user_registration_path, class: "btn btn-info" if @user == current_user %>
