<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to root_url, title: t('common.home_page'), class: "navbar-brand" do %>
    <%= (image_tag "logo.png", width: "50") %>
    Trucking
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in?%>
        <% if current_user.driver  %>
          <li class="nav-item">
            <%= link_to t('common.taken_orders'), taken_orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('common.archive'), archive_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to mailbox_inbox_path, class: "nav-link" do %>
            <%= t('common.conversations') %>
            <span class="badge badge-light"><%= unread_messages_count %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav mr-right mr-3">
      <li class="nav-item">
        <i class="fa fa-bell fa-lg fa-inverse"></i><span class="badge badge-pill badge-info">4</span>
      </li>
    </ul>

    <ul class="navbar-nav mr-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= I18n.locale.upcase %> <%= image_tag "#{I18n.locale}.png", width: '20' if  File.file? "app/assets/images/#{I18n.locale}.png" %>
        </a>
        <div class="dropdown-menu dropdown-links" aria-labelledby="navbarDropdown">
          <%= link_to locale: :en do %>
            Eng
            <%= image_tag "en.png", width: '20' if  File.file? "app/assets/images/en.png" %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to locale: :ua do %>
            Укр
            <%= image_tag "ua.png", width: '20' if  File.file? "app/assets/images/ua.png" %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to locale: :ru do %>
            Рус
            <%= image_tag "ru.png", width: '20' if  File.file? "app/assets/images/ru.png" %>
          <% end %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.first_name, user_path(current_user), class: "nav-link mr-sm-2" %>
        </li>
        <li class="nav-item">
          <%= link_to t('common.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to t('common.log_in'), new_user_session_path, class: "btn btn-outline-warning mr-sm-2" %>
        </li>
        <li class="nav-item">
          <%= link_to t('common.sign_in'), new_user_registration_path, class: "btn btn-outline-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
