<!DOCTYPE html>
<html>
  <head>
    <title>Trucking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to "Trucking", root_url, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? && current_user.driver %>
            <li class="nav-item">
              <%= link_to t('common.taken_orders'), taken_orders_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <ul class="navbar-nav mr-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.first_name, profile_path, class: "nav-link mr-sm-2" %>
            </li>
            <li class="nav-item">
              <%= link_to t('common.sign_out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t('common.log_in'), new_user_session_path, class: "btn btn-outline-warning mr-sm-2" %>
            </li>
            <li class="nav-item">
              <%= link_to t('common.sign_in'), new_user_registration_path, class: "btn btn-outline-success" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="text-center alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
           <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="text-center alert alert-danger" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
           <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
