<!DOCTYPE html>
<html>
  <head>
    <title>Trucking</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="text-center <%= flas_class(key) %>" role="alert" id="flash_wrapper">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
        <p class="notice_text"><%= value %></p>
      </div>
    <% end %>

    <%= render 'layouts/navbar' %>

    <div class="wrapper">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
